<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="eventcenter"></context:component-scan>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<bean id="ecConfig" class="eventcenter.api.EventCenterConfig">
	</bean>

	<bean id="subscriber" class="eventcenter.remote.EventTransmission" factory-bean="subscriberFactory" factory-method="createEventTransmission">
		<constructor-arg ref="defaultEventCenter"></constructor-arg>
	</bean>
	<bean id="defaultEventCenter" class="eventcenter.api.support.DefaultEventCenter"></bean>
	
	<bean id="subscriberFactory" class="eventcenter.remote.dubbo.subscriber.SubscriberDubboRemoteFactory">
		<property name="applicationName" value="test-ec-subscriber"></property>
		<property name="version" value="sample_test"></property>
		<property name="registryAddress" value="localhost:2181"></property>
		<property name="registryProtocol" value="zookeeper"></property>
	</bean>
</beans>
