<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="eventcenter" use-default-filters="false">
		<context:include-filter type="regex" expression="eventcenter.api.aop.*"/>
		<context:include-filter type="regex" expression="eventcenter.remote.dubbo.test.SampleMonitorService"/>
	</context:component-scan>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<bean id="ecConfig" class="eventcenter.api.EventCenterConfig">
	</bean>

	<bean id="publisher" class="eventcenter.remote.saf.SAFPublishEventCenter">
		<property name="publisherGroups">
			<ref bean="publisherGroups"/>
		</property>
		<!-- 下面这个属性可以不配置，如果不配置将使用默认的Policy -->
		<property name="safPolicy">
			<bean class="eventcenter.remote.saf.simple.SimpleStoreAndForwardPolicy">
				<property name="storeOnSendFail" value="false"></property>
				<property name="checkInterval" value="1000"></property>
			</bean>
		</property>
	</bean>
	
	<!-- 创建只有单个远程事件接收器的事件 -->
	<bean id="publisherGroupsFactory" class="eventcenter.remote.dubbo.publisher.PublisherGroupsFactory">
		<property name="applicationName" value="test-ec-publisher"></property>
		<property name="version" value="sample_test"></property>
		<property name="registryAddress" value="localhost:2181"></property>
		<property name="registryProtocol" value="zookeeper"></property>
		<property name="remoteEvents" value="beforeAsync,afterAsync"></property>
	</bean>
	
	<bean id="publisherGroups" class="java.util.List" factory-bean="publisherGroupsFactory" factory-method="createPublisherGroups">
		
	</bean>
</beans>
