<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="ec-sample-subscriber"/>
	<dubbo:registry protocol="zookeeper"  address="localhost:2181" />
    
	<context:annotation-config></context:annotation-config>
	<context:component-scan base-package="eventcenter.api"></context:component-scan>
	<context:component-scan base-package="eventcenter.remote.dubbo.listeners"></context:component-scan>
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 事件传送的实例，此实例实现了EventTransmission接口 -->
	<bean id="subscriber" class="eventcenter.remote.subscriber.EventSubscriber">
		<constructor-arg ref="defaultEventCenter"></constructor-arg>
		<property name="subscriberGroups">
			<bean class="eventcenter.remote.SubscriberGroup">
				<property name="groupName" value="test"></property>
				<property name="remoteEvents" value="example.annotation"></property>
			</bean>
		</property>
	</bean>
	
	<!-- 接收到事件之后，消费事件的中心容器 -->
	<bean id="defaultEventCenter" class="eventcenter.api.support.DefaultEventCenter"></bean>

	<dubbo:service id="eventSubscriber" interface="eventcenter.remote.EventSubscriber" version="1.0.0_test" ref="subscriber" group="test"></dubbo:service>

	<!-- 订阅段需要设置EventTransmission服务,可以选择使用默认的方式 -->
	<dubbo:service id="eventTransmission" interface="eventcenter.remote.EventTransmission" version="1.0.0_test" ref="subscriber" group="test">
		<dubbo:method name="asyncTransmission" async="true" return="false" ></dubbo:method>
		<dubbo:method name="checkHealth" timeout="1000"></dubbo:method>
	</dubbo:service>
</beans>
