<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 这里只会初始化Manager和ManagerEventListener两个类 -->
	<context:component-scan base-package="eventcenter.tutorial.section1_6.manager"></context:component-scan>
	<!-- 如果要使用@EventPoint，需要配置这个扫描器，并开启aop -->
	<context:component-scan base-package="eventcenter.api"></context:component-scan>

	<aop:aspectj-autoproxy proxy-target-class="true" />

	<!-- 这个是最基础的配置，默认初始化DefaultEventCenter实例 -->
	<!-- group是用来确定不同事件中心的节点的分组的标示，未来在发现事件中心消费点时，事件只会在同一个group下的节点中进行传播 -->
	<conf group="example" xmlns="http://code.eventcenter.com/schema/ec" xsi:schemaLocation="http://code.eventcenter.com/schema/ec http://code.eventcenter.com/schema/ec/eventcenter.xsd">
		<!-- dubbo节点需要配置dubbo的application、registry和protocol基本信息，由于这个节点不需要接收其他模块的事件，所以不需要设置protocol前缀的属性 -->
		<dubbo registryProtocol="multicast" registryAddress="224.5.6.7:1236" applicationName="example-manager" applicationOwner="jueming">
			<!-- 这个点主要是manager监听老板模块的boss.task.submit，所以创建一个dubboSubscribe节点，并打上版本，boss模块的publish的version会与之对应 -->
			<dubboSubscribe version="manager-example-1" ></dubboSubscribe>
		</dubbo>
	</conf>
</beans>
