<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<dubbo:application name="ec-sample-publisher"/>
	<dubbo:registry protocol="zookeeper"  address="localhost:2181" />
    <dubbo:protocol name="dubbo" port="7078" host="127.0.0.1"></dubbo:protocol>

	<!--<bean id="subscriber" class="eventcenter.remote.subscriber.EventSubscriber"></bean>
	<dubbo:service interface="eventcenter.remote.EventTransmission" group="test" version="ec-builder-test-1.0" ref="subscriber"></dubbo:service>-->
</beans>
