<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- 这个eventcenter需要配置，用于事件注册器能够自动扫描到监听器并注入进事件中心 -->
	<context:component-scan base-package="eventcenter.filter"></context:component-scan>
    <aop:aspectj-autoproxy proxy-target-class="true" />
 
    <!-- 默认的事件中心 --> 
    <bean id="defaultEventCenter" class="eventcenter.api.support.DefaultEventCenter"></bean>
</beans>
